* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px #000;
}

.heading-text {
  font-family: "Montserrat", sans-serif;
}

#google-maps {
  position: relative;
}

#gmap {
  height: 100%;
  width: 100%;
  border: 0;
  display: flex;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
}

.social-wrapper {
  display: grid;
}

@media (max-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .social-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .social-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .nav-tabs {
    font-size: 8px;
  }

  .form {
    max-width: 300px;
  }

  #gmap {
    max-width: 280px;
  }

  .social-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo-container {
    max-height: auto;
    max-width: 60px;
    margin: 2rem;
    float: right;
  }

  .logo {
    max-height: 20px;
    max-width: 20px;
    padding: 1.5rem;
  }
}

#img img {
  border-radius: 50%;
  border: 1px solid black;
  max-height: 50vh;
  max-width: 50vw;
}

::placeholder {
  opacity: 0.4;
}

#img {
  padding: 3rem;
}

.link-image {
  border-radius: 15px;
  transition: transform 0.2s; /* Animation */
}

.link-image:hover {
  transform: scale(1.1);
}

.projects {
  border-radius: 30px;
  background: url();
  background-color: rgba(0, 0, 0, 0.2);
}

.my-projects {
  object-fit: contain;
}

.landing-inner p,
.landing-inner h1 {
  color: #fff;
}

.my-projects {
  color: white;
}

.links {
  color: 000;
}

.about-me {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.skills {
  margin-left: 3rem;
}

.about-inner {
  padding: 3rem;
}

.logo {
  max-height: 120px;
  max-width: 120px;
}

.logo-container {
  margin: 1rem;
}

/*background*/

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #005b96 50%, #011f4b 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.social-network a.icoRss:hover {
  background-color: #f56505;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoInstagram:hover {
  background-color: #bc2a8d;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #bd3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590b8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 80px;
  height: 80px;
  font-size: 40px;
}

.social-circle i {
  margin: 0;
  line-height: 80px;
  text-align: center;
}

.social-circle a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
