*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px #000;
}

.heading-text{
  font-family: 'Montserrat', sans-serif;
}

#google-maps{
  position: relative;
}

#gmap{
  height: 100%;
  width: 100%;
  border: 0;
  display: flex;
  align-items: center;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #gmap{
    height: 100%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: center;
  }
}

#img img{
  border-radius: 50%;
  border: 3px solid black;
}

.link-image{
  border-radius: 15px;
}

.projects{
  border: 2px groove black;
  border-radius: 30px;
  background: url();
  background-color: rgba(255, 255, 255, 0.5);
}

.my-projects{
  background: url("/images/bg1.jpg");
  object-fit: contain;
}

.my-projects{
  color: white;
}



/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
